---
import { skills, UI } from "@/location/en.json";
import Section from "@/components/SectionStyle.astro";
const { skills_section } = UI;
---

<Section title={skills_section}>
  <ul>
    {
      skills.map(({ name }) => {
        return (
          <li>
            <span>{name}</span>
          </li>
        );
      })
    }
  </ul>
</Section>
<style>
    ul {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 8px;
    }

    li{
        border-radius: 4px;
        background: #eee;
        color: black;
        font-weight: 500;
        padding: 0.2px 0.8px;
        
    }

</style>