---
import Layout from "@/layouts/Layout.astro";
import Bar from "@/layouts/en/bar.astro";
import Hero from "@/components/Sections/en/Hero.astro"
import About from "@/components/Sections/en/About.astro"
import Education from "@/components/Sections/en/Education.astro"
import Skills from "@/components/Sections/en/Skills.astro"
import Experience from "@/components/Sections/en/Experience.astro"
import Projects from "@/components/Sections/en/projects.astro";
import References from "@/components/Sections/en/References.astro"
---

<Layout title="Portfolio Santiago Molina Mejia">
  <main>
	<Bar></Bar>
	<Hero></Hero>
	<About></About>
	<Education></Education>
	<Skills></Skills>
	<Experience></Experience>
	<Projects></Projects>
	<References></References>
  </main>
</Layout>
<style></style>
