---
import Section from "@/components/SectionStyle.astro";
import { basics , UI} from "@/location/es.json";
const { summary } = basics;
const { about_section } = UI;

---

<Section title={about_section}>
  <p>{summary}</p>
</Section>
