---
import Section from "@/components/SectionStyle.astro";
import { education } from "@cv";
---

<Section title="Education">
  <ul>
    {
      education.map(({ institution, url, area, studyType }) => {
        return (
          <li>
            <div>
              <h3>{institution}</h3>
              <h4>{url}</h4>
              <h4>{area}</h4>
              <h4>{studyType}</h4>
            </div>
          </li>
        );
      })
    }
  </ul>
</Section>
