---
import Layout from "@/layouts/Layout.astro";
import Bar from "@/layouts/es/bar.astro";
import Hero from "@/components/Sections/es/Hero.astro"
import About from "@/components/Sections/es/About.astro"
import Education from "@/components/Sections/es/Education.astro"
import Skills from "@/components/Sections/es/Skills.astro"
import Experience from "@/components/Sections/es/Experience.astro"
import References from "@/components/Sections/es/References.astro"
import Contact from "@/components/Sections/es/Contact.astro"

---

<Layout title="Portfolio Santiago Molina Mejia">
  <main>
	<Bar></Bar>
	<Hero></Hero>
	<About></About>
	<Education></Education>
	<Skills></Skills>
	<Experience></Experience>
	<References></References>
	<Contact></Contact>
  </main>
</Layout>
<style></style>
