---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Sections/Hero.astro";
import About from "@/components/Sections/About.astro"
import Education from "@/components/Sections/Education.astro"
import Skills from "@/components/Sections/Skills.astro"
import Experience from "@/components/Sections/Experience.astro"
import References from "@/components/Sections/References.astro"
import Contact from "@/components/Sections/Contact.astro"

---

<Layout title="Portfolio Santiago Molina Mejia">
  <main>
	<Hero></Hero>
	<About></About>
	<Education></Education>
	<Skills></Skills>
	<Experience></Experience>
	<References></References>
	<Contact></Contact>
  </main>
</Layout>
<style></style>
