---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import About from "@/components/About.astro"
import Skills from "@/components/Skills.astro"
import Experience from "@/components/Experience.astro"
import Contact from "@/components/Contact.astro"

---

<Layout title="Portfolio Santiago Molina Mejia">
  <main>
	<Hero></Hero>
	<About></About>
	<Skills></Skills>
	<Experience></Experience>
	<Contact></Contact>
  </main>
</Layout>
<style></style>
