---
import Layout from "@/layouts/Layout.astro";
import Bar from "@/layouts/es/bar.astro";
import Hero from "@/components/Sections/es/Hero.astro"
import About from "@/components/Sections/es/About.astro"
import Education from "@/components/Sections/es/Education.astro"
import Skills from "@/components/Sections/es/Skills.astro"
import Experience from "@/components/Sections/es/Experience.astro"
import Projects from "@/components/Sections/es/projects.astro"
import References from "@/components/Sections/es/References.astro"
---

<Layout title="Portfolio Santiago Molina Mejia">
  <main>
	<Bar></Bar>
	<section id="home">
		<Hero></Hero>
	</section>
	<About></About>
	<section id="education">
		<Education></Education>
	</section>
	<Skills></Skills>
	<section id="experience">
		<Experience></Experience>
	</section>
	<section id="projects">
		<Projects></Projects>
	</section>
	<References></References>
  </main>
</Layout>
<style></style>
