---
const { title } = Astro.props;
---

<head>
  <link href="https://fonts.cdnfonts.com/css/share-tech-mono" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>


<section>
  {title && <h2>{title}</h2>}
  <slot />
</section>

<style>
  section {
    max-width: 700px;
    margin: 0 auto 72px;
  }

  h2 {
    font-family: 'Share Tech Mono', monospace;                                                
    margin-bottom: 8px; 
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.5;
  }
  
  h3{
    margin-top: 10px;
  }
</style>
