---
const { title } = Astro.props;
---

<head>
  <link href="https://fonts.cdnfonts.com/css/share-tech-mono" rel="stylesheet">
  </head>


<section>
  {title && <h2>{title}</h2>}
  <slot />
</section>

<style>
  section {
    max-width: 700px;
    margin: 0 auto 72px;
  }

  h2 {
    font-family: 'Share Tech Mono', monospace;                                                
    margin-bottom: 8px; 
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.5;
  }
  
  h3{
    margin-top: 10px;
  }
</style>
