---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: Menlo, Monaco, "Courier New", Courier, monospace;
    background: white;
    letter-spacing: 0;
  }
  body {
    padding-top: 90px;
  }
  section::before {
    content: "";
    display: block;
    height: 100px;
    margin-top: -100px;
    visibility: hidden;
  }
  a {
    text-decoration: none;
    color: black;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
    font-family: "JetBrains Mono", monospace;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  @media (max-width: 600px) {
    h2 {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}
</style>
